<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/classmanager"
        android:label="@string/app_name"
        android:roundIcon="@drawable/classmanager"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin.AddCtAdminActivity" />
        <activity android:name=".activities.CtActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".admin.RoutineDetailsActivity" />
        <activity android:name=".admin.PostbyActivity" />
        <activity android:name=".admin.EditRoutineAdminActivity" />
        <activity android:name=".admin.AdminAddPostActivity" />
        <activity android:name=".intro.Intro3" />
        <activity android:name=".intro.Intro2" />
        <activity android:name=".intro.IntroActivity" />
        <activity android:name=".intro.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.SelectActivity" />
        <activity android:name=".admin.AdminDashBoard" />
        <activity android:name=".admin.AdminSelectActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity
            android:name=".activities.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.AnnouncementActivity" />
        <activity android:name=".activities.NotificationDetailsActivity" />
        <activity android:name=".admin.LoginActivity" />
        <activity android:name=".admin.AddRoutineAdminActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/NEWS_CHANNEL_ID" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <receiver android:name=".service.AlarmReciver" />

    </application>

</manifest>